.board{
    display: flex;
    width: 50%;
}

.tile{
    border-style: inset;
    border-style: outset;
    height: 25px;
    width: 25px;
}

.modal-background{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    z-index: 2;
    height: 50%;
    width: 50%;
    text-align: center;

}